body {
  padding: 0px !important;
  margin: 0px !important;
  font-family: 'Monsterrat', sans-serif;
  background-image: url("/background.png");
  background-size: 600px auto;
}

button {
  border-radius: 1em;
  height: 2em;
  background-color: #FAF99D;
  text-align: center;
  border: none;
  cursor: pointer;
  font-family: 'Monsterrat', sans-serif;
}

select {
  margin-top: 0.5em;
  border: 3px solid #82DDF4;
  background-color: #D8EEFB;
  border-radius: 1em;
  overflow: hidden;
  color: #338FCC;
}

a, a:visited {
  color: #23628C;
}

.mane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 80em;
  margin-left: auto;
  margin-right: auto;
}

.mane-header, .element-header, .mane-footer {
  border: 5px solid;
  border-color: #92CDF4;
  background-color: #B8E0F9;
  color: #338FCC;
}

.mane-header, .mane-footer {
  text-align: center;
  border-radius: 3em;
}

.mane-header {
  padding: 1em;
}

.mane-footer {
  padding: 1em;
}

.prim-header {
  font-size: 4em;
}

.sub-header {
  font-size: 2em;
}

.mane-element {
  background-color: #6CB2EA;
  min-height: 100vh;
  border: 5px solid #338FCC;
  border-radius: 3em;
}

.element-header {
  text-align: center;
  border-left: none;
  border-right: none;
  font-size: 3em;
}

.element-content {
  padding: 2em;
  padding-left: 6em;
  padding-right: 6em;
  color: #23628C;
}

.create-room-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.roomcount {
  text-align: center;
}

.create-room-block > select {
  text-align: center;
  text-align-last: center;
  font-size: 1.5em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.create-room-block > button {
  margin-top: 0.5em;
  text-align: center;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
}

.booster-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.booster-buttons > * {
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 8em;
  font-size: 1.0em;
}

.card:hover {
  position: relative;
}

.card:hover:after {
    display: block;
    position: absolute;
    z-index: 1;
    top: -200px;
    left: 450px;
}

.eo1:hover:after { content: url(http://ponyhead.com/img/cards/eo1.jpg); }
.eo2:hover:after { content: url(http://ponyhead.com/img/cards/eo2.jpg); }
.eo4:hover:after { content: url(http://ponyhead.com/img/cards/eo4.jpg); }
.eo5:hover:after { content: url(http://ponyhead.com/img/cards/eo5.jpg); }
.eo7:hover:after { content: url(http://ponyhead.com/img/cards/eo7.jpg); }
.eo8:hover:after { content: url(http://ponyhead.com/img/cards/eo8.jpg); }
.mt1:hover:after { content: url(http://ponyhead.com/img/cards/mt1.jpg); }
.mt2:hover:after { content: url(http://ponyhead.com/img/cards/mt2.jpg); }
.mt3:hover:after { content: url(http://ponyhead.com/img/cards/mt3.jpg); }

.cn1:hover:after { content: url(http://ponyhead.com/img/cards/cn1.jpg); }
.cn2:hover:after { content: url(http://ponyhead.com/img/cards/cn2.jpg); }
.cn3:hover:after { content: url(http://ponyhead.com/img/cards/cn3.jpg); }
.cn5:hover:after { content: url(http://ponyhead.com/img/cards/cn5.jpg); }
.cn6:hover:after { content: url(http://ponyhead.com/img/cards/cn6.jpg); }
.cn7:hover:after { content: url(http://ponyhead.com/img/cards/cn7.jpg); }

.eo191:hover:after { content: url(http://ponyhead.com/img/cards/eo191.jpg); }
.eo200:hover:after { content: url(http://ponyhead.com/img/cards/eo200.jpg); }
.eo202:hover:after { content: url(http://ponyhead.com/img/cards/eo202.jpg); }

.pr164:hover:after { content: url(http://ponyhead.com/img/cards/pr164.jpg); }
.pr168:hover:after { content: url(http://ponyhead.com/img/cards/pr168.jpg); }
.pr170:hover:after { content: url(http://ponyhead.com/img/cards/pr170.jpg); }
.pr177:hover:after { content: url(http://ponyhead.com/img/cards/pr177.jpg); }
.pr190:hover:after { content: url(http://ponyhead.com/img/cards/pr190.jpg); }
.pr192:hover:after { content: url(http://ponyhead.com/img/cards/pr192.jpg); }
