
body {
  padding: 0px !important;
  margin: 0px !important;
  font-family: 'Monsterrat', sans-serif;
  background-color: #6CB2EA;
}

.mane {
  display: flex;
  align-items: stretch;
}

.bar {
  width: 20%;
  min-width: 15em;
  background-color: #9C82DA;
  order: 2;
}

.playerlist-container {
  padding: 1em;
}

.player-picked {
  list-style-type: disc;
}

.player:not(.player-picked) {
  list-style-type: circle;
}

.playerlist {
  border-radius: 1em;
  background-color: #B7E0F9;
  height: 15em;
  color: #338FCC;
  font-size: 1.2em;
  overflow: hidden;
}

.playerlist-header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #338FCC;
  color: #B7E0F9;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.name-input {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
}

.name-input > input {
  margin-top: 0.5em;
  border-radius: 1em;
  height: 2em;
  padding-left: 1em;
  border: none;
  flex-grow: 2;
  font-size: 1.0em;
  width: 0; /* I have no idea why, but this fixes some issues */
  background-color: #D8EEFB;
}

button {
  border-radius: 1em;
  height: 2em;
  background-color: #FAF99D;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 1.0em;
  font-family: 'Monsterrat', sans-serif;
}

.name-input > button {
  margin-left: 0.5em;
  min-width: 7em;
  margin: 0.5em;
}

.menu {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}

.menu > * {
  margin-top: 0.5em;
  font-size: 1.8em;
}

.content {
  order: 1;
  height: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: #6CB2EA;
  flex-grow:2;
}

.content-container {
  overflow: hidden;
}

.cardlist {
  padding-top: 1em;
}

.cardlist-header {
  text-align: center;
  border: 5px solid;
  border-color: #92CDF4;
  background-color: #B8E0F9;
  border-radius: 3em;
  margin-left: 2em;
  margin-right: 2em;
}

.cardlist-title {
  font-size: 2em;
  color: #338FCC;
  font-weight: bold;
}

.cardlist-count {
  color: #338FCC;
}

.card-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.card {
  width: 13em;
  padding-top: 13em;
  margin: 0.5em;
  border: 3px solid;
  border-radius: 0.5em;
  border-color: #92CDF4;
  background-color: #D8EEFB;
  position: relative;
}

.cardlist-picked .card-image {
  filter: grayscale(100%);
}

.card-image, .image-hover-hack {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 5%;
  height: 90%;
  width: 90%;
  object-fit: contain;
  position: absolute;
  z-index: 1;
  transition: z-index 50ms step-end, transform 300ms ease;
}

/* I am not sure if that's me being bad at CSS or it's just CSS is awful */
.image-hover-hack {
  transform: scale(1.2);
  z-index: 3;
  cursor: pointer;
}

.cardlist-picked .image-hover-hack {
  cursor: auto;
}

.image-hover-hack:hover + .card-image {
  z-index: 2;
  transform: scale(2.0);
  transition: z-index 300ms step-start, transform 300ms ease;
  /*filter: grayscale(0%);*/
}


.cardlist-clear {
  clear: left;
  display: block;
}
  
