
body {
  padding: 0px !important;
  margin: 0px !important;
  font-family: sans-serif;
}

.mane {
  height: 100vh;
}

.bar {
  width: 20%;
  float: right;
}

.content {
  width: 80%;
  height: 100vh;
  float: left;
  overflow: auto;
  background-color: #AAAAFF;
}

.player-picked {
  color: green;
}

.player:not(.player-picked){
  color: red;
}

.cardlist-header {
  background-color: #8888FF;
}

.cardlist-title {
  font-size: 2em;
  font-weight: bold;
}

.cardlist-count {
  color: gray;
}

.card-container {
  background-color: #AAAAFF;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.card {
  width: 13em;
  padding-top: 13em;
  margin: 0.5em;
  border: 1px dotted;
  position: relative;
}

.cardlist-picked .card-image {
  filter: grayscale(100%);
}

.card-image, .image-hover-hack {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 5%;
  height: 90%;
  width: 90%;
  object-fit: contain;
  position: absolute;
}

/* I am not sure if that's me being bad at CSS or it's just CSS is awful */
.image-hover-hack {
  transform: scale(1.2);
  z-index: 2;
  cursor: pointer;
}

.cardlist-picked .image-hover-hack {
  cursor: auto;
}

.image-hover-hack:hover + .card-image {
  transform: scale(2.0);
  z-index: 1;
  /*filter: grayscale(0%);*/
}


.cardlist-clear {
  clear: left;
  display: block;
}
  
